header {
  nav {
    .container {
      .navbar-brand {
        font-weight: 800;
        font-size: 22px;
      }
      .rightSide {
        .darkTheme {
          font-weight: 700;
        }
      }
    }
  }
}
